VITE_FIREBASE_API_KEY=AIzaSyD6jonWbIcTw1xgCdmKNQrRH0ZltE_chR4
VITE_FIREBASE_AUTH_DOMAIN=dabar-84286.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=dabar-84286
VITE_FIREBASE_STORAGE_BUCKET=dabar-84286.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=819032270575
VITE_FIREBASE_APP_ID=1:819032270575:web:d055e51f7d614c21dedd1a
VITE_FIREBASE_MEASUREMENT_ID=G-CV1M707YGK
VITE_GOOGLE_MAPS_API_KEY=
